.board {
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgb(194, 194, 194);
  margin: 10% 35% 35% 10%;
}

.inputTitulo {
  padding-top: 5%;
}

.inputMensagem {
  padding-top: 7%;
  padding-bottom: 5%;
  border-radius: 5px;
}

.buttonArea {
  padding-top: 4%;
  padding-bottom: 5%;
}

.buttonEnviar {
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: #591b2b;
  color: #fff;
  width: 25%;
  height: 2.409375em;
}

input {
  width: 80%;
  border-radius: 0.3125em;
  border-color: #919fa7;
}

textarea {
  width: 80%;
  border-radius: 0.3125em;
  resize: none;
}

input[type="text"] {
  font-size: 1em;
  padding-top: 1%;
  padding-bottom: 1%;
  line-height: 1.18em;
}
