.main {
  width: 80%;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #c4c4c4;
  background-color: white;
}

.page-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  padding-top: 16px;
  color: #607D8B;
}

.p-5 {
  padding: 5%;
}

.title-box > h3 {
  text-align: center;
}

textarea {
  width: 100%;
  border-radius: 0.3125em;
  border-color: #c4c4c4;
  resize: vertical;
  padding: 10px;
}

.inputMensagem {
  padding-bottom: 5%;
  border-radius: 2px;
}

.buttonArea {
  padding-top: 4%;
  padding-bottom: 5%;
}

.buttonEnviar {
  font-size: 0.8rem;
  border-radius: 2px;
  border: 0;
  background-color: #591b2b;
  color: #fff;
  width: 25%;
  height: 2.409375em;
}

input {
  width: 100%;
  padding-left: 10px;
  border-radius: 2px;
}

input[type="text"] {
  border: 1px solid #c4c4c4;
  font-size: 1em;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10px;
  line-height: 1.18em;
}

select {
  border: 1px solid #c4c4c4;
  font-size: 1em;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10px;
  line-height: 1.18em;
  width: 100%;
  border-radius: 2px;
  background-color: white;
}

.periodContainer {
  display: flex;
  justify-content: center;
}

.periodInnerContainer {
  display: flex;
  width: 80%;
  justify-content: center;
  margin-top: 20px;
}

.periodInput {
  display: flex;
  align-items: center;
}

.labelContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.labelText {
  text-align: left;
}

.text-center {
  text-align: center;
}

.button-box {
  text-align: center;
  padding-top: 2%;
}

.button-new {
  width: unset;
  padding-left: 10px;
  padding-right: 10px;
  white-space: normal;
  background-color: #591b2b;
  outline: 0;
  border: 0;
}
