.main-system {
  width: 80%;
  margin: 20px auto;
  background-color: transparent;
}

.system-div {
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #c4c4c4;
  background-color: white;
  margin-bottom: 10px;
}

.accordion {
  border: 1px solid #c4c4c4;
}

.css-o4mft6 {
  background-color: #ffffff !important;
}

.css-1brgn68 {
  color: #ffffff;
  background-color: #591b2b !important;
  width: unset;
  padding-left: 10px !important;
  padding-right: 10px !important;
  white-space: normal !important;
  margin-right: 20%;
}

.div-sensores {
  margin-left: 5%;
}

.css-1brgn68 {
  width: fit-content;
  position: relative !important;
  left: 50% !important;
  top: 30% !important;
}

.div-lancamentos {
  margin-left: 2.4%;
}

.column {
  text-align: center;
}

.gbjtWJ {
  width: auto !important;
  position: absolute !important;
}

.accord-historico {
  margin-top: 2% !important;
}

.css-o4mft6 {
  border-radius: 5px !important;
  border-color: #c4c4c4;
}

.skeleton {
  margin-top: 1%;
}

.stack-sk {
  padding: 2%;
}
