.navbar {
  background-color: #6ca851;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}

.menu-bars {
  margin-left: 1.4rem;
  font-size: 1.6rem;
  color: white;
  background: none;
  margin-top: .3em;
}

.nav-menu {
  background-color: #408040;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-name {
  margin-left: calc(50% - 4.4em);
  color: white;
  font-weight: bold;
}

.nav-menu.active {
  left: 0;
  transition: 350;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8% 0 16% 8%;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #3c773c;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  content: "SmartVit";
  background-color: #408040;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
