.inputTitulo {
  padding-top: 5%;
}

.step-container {
  flex-direction: column-reverse;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-inner {
  width: 50px;
  height: 50px;
  background-color: #591b2b;
  border-radius: 50%;
}

.step-inner-disabled {
  width: 50px;
  height: 50px;
  background-color: #a4a4a4;
  border-radius: 50%;
}

.step-line-container {
  width: 50px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-line {
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
}

.step-target {
    width: 100px;
}
