

.step-container .step,
.step-target {
  cursor: pointer;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-inner {
  width: 50px;
  height: 50px;
  background-color: #591b2b;
  border-radius: 50%;
}

.step-inner-disabled {
  width: 50px;
  height: 50px;
  background-color: #a4a4a4;
  border-radius: 50%;
}

.step-line-container {
  width: 50px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-line {
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
}

.step-target {
  width: 100px;
}

.icons-center-true {
  margin-top: 17px;
  margin-left: 17px;
  color: white;
}

.icons-center-false {
  margin-top: 17px;
  margin-left: 17px;
  color: black;
}

