.notification-date {
  color: #858585;
  font-size: 0.85em;
  margin-top: 8px;
}

.notification-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.notification-title {
  font-weight: bold;
  margin-bottom: -16px;
}

.notification-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.notification-mark {
  display: flex;
}

.notification-button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.notification-separator {
  border-bottom: 1px solid #c4c4c4;
  margin: 10px auto;
}
